<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{{url_for('search')}}">
          <span data-feather="search"></span>
          Εύρεση
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/new' %}active{% endif %}" href="{{url_for('new')}}">
          <span data-feather="plus-square"></span>
          Προσθήκη
        </a>
      </li>
    </ul>
  </div>
</nav>